@using EntityLayer.Concrete
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Title>
@{
    ViewBag.Title = "AllTitle";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{ string color = ""; }
<link href="~/Content/PagedList.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 20%">
                                Yazar
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Tiyatro")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Category.CategoryName == "Eğitim")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-dark";
                            }
                            if (item.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-primary";
                            }
                            if (item.Category.CategoryName == "Oyunlar")
                            {
                                color = "badge badge-info";
                            }
                            if (item.Category.CategoryName == "Haber")
                            {
                                color = "badge badge-dark";
                            }
                            <tr>
                                <td>
                                    @item.TitleID
                                </td>
                                <td>
                                    <a>
                                        @item.TitleName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)item.TitleDate).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@item.Writer.WriterImage">
                                        </li>
                                    </ul>
                                </td>
                                <td class="project-state">
                                    <span class="@color">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Default/Titles/@item.TitleID">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/WriterPanelContent/AddContent/@item.TitleID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Başlığa Yaz
                                    </a>         
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AllTitle", new { sayfa }))
</body>
</html>

