@model EntityLayer.Concrete.Title
@{
    ViewBag.Title = "NewTitle";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h2>Başlık Ekleme Sayfası</h2>
@using (Html.BeginForm("NewTitle", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.TitleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TitleName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.valuectgry, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Başlığı Oluştur</button>
    </div>
}


